# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [4]:
#Your code here
colsb4 = list(df.columns.values)
colsaftr = {val.replace(' ',''):val.lower().replace(' ','') for val in colsb4}
df.rename(columns=colsaftr,inplace=True)
df.head(4)

,c/a,unit,scp,station,linename,division,date,time,desc,entries,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314

# Change the Index to be the Line Names

In [5]:
#Your code here
df.set_index('linename', inplace=True)
df.head(4)

,c/a,unit,scp,station,division,date,time,desc,entries,EXITS
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314

# Painstakingly change the index back

In [6]:
# Your code here
df.reset_index(inplace=True)
df.head(4)

,linename,c/a,unit,scp,station,division,date,time,desc,entries,EXITS
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [7]:
# Your code here
stations = list(set(df.station.tolist()))
sta_dic = {}
for sta in stations:
    cnt = df.loc[df.station == sta].station.count()
    sta_dic[sta] = cnt
for i, row in enumerate(df.iterrows()):
    df.loc[i,'Num_Lines'] =  sta_dic[df.loc[i].station]
      
df.sort_values(by=['Num_Lines'], ascending=False)
print(df.head(4))

  linename   c/a  unit       scp station division        date      time  \
0  NQR456W  A002  R051  02-00-00   59 ST      BMT  08/25/2018  00:00:00
1  NQR456W  A002  R051  02-00-00   59 ST      BMT  08/25/2018  04:00:00
2  NQR456W  A002  R051  02-00-00   59 ST      BMT  08/25/2018  08:00:00
3  NQR456W  A002  R051  02-00-00   59 ST      BMT  08/25/2018  12:00:00

      desc  entries  \
0  REGULAR  6736067
1  REGULAR  6736087
2  REGULAR  6736105
3  REGULAR  6736180

   EXITS                                                                 \
0                                            2283184
1                                            2283188
2                                            2283229
3                                            2283314

   Num_Lines
0     2229.0
1     2229.0
2     2229.0
3     2229.0

## Write a function to clean a column name.

In [8]:
def clean(col_name):
    cleaned = col_name.replace(' ','').replace("'",'').replace(':','_').replace(';','_').replace('-','_').replace('__',"").lower()
    #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

In [9]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [10]:
#Checking the output, we can see the results.
df.columns

Index(['linename', 'c/a', 'unit', 'scp', 'station', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'num_lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [24]:
import numpy as np
import matplotlib.pyplot as plt
df.date = pd.to_datetime(df.date, format='%m/%d/%Y')
df['dow'] = df.date.dt.day_name()
df['traffic'] = df.entries - df.exits
df.head(4)

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits,num_lines,dow,traffic
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,00:00:00,REGULAR,6736067,2283184,2229.0,Saturday,4452883
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,04:00:00,REGULAR,6736087,2283188,2229.0,Saturday,4452899
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,08:00:00,REGULAR,6736105,2283229,2229.0,Saturday,4452876
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,12:00:00,REGULAR,6736180,2283314,2229.0,Saturday,4452866

In [33]:
x = df.groupby(['dow','traffic'])
x.head(4)
# df.entries.value_counts?

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits,num_lines,dow,traffic
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,00:00:00,REGULAR,6736067,2283184,2229.0,Saturday,4452883
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,04:00:00,REGULAR,6736087,2283188,2229.0,Saturday,4452899
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,08:00:00,REGULAR,6736105,2283229,2229.0,Saturday,4452876
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,12:00:00,REGULAR,6736180,2283314,2229.0,Saturday,4452866
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,16:00:00,REGULAR,6736349,2283384,2229.0,Saturday,4452965
5,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-25,20:00:00,REGULAR,6736562,2283425,2229.0,Saturday,4453137
6,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-26,00:00:00,REGULAR,6736683,2283460,2229.0,Sunday,4453223
7,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-26,04:00:00,REGULAR,6736696,2283461,2229.0,Sunday,4453235
8,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-26,08:00:00,REGULAR,6736705,2283483,2229.0,Sunday,4453222
9,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-26,12:00:00,REGULAR,6736746,2283524,2229.0,Sunday,4453222
10,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-26,16:00:00,REGULAR,6736873,2283587,2229.0,Sunday,4453286
11,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-26,20:00:00,REGULAR,6737067,2283631,2229.0,Sunday,4453436
12,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-27,00:00:00,REGULAR,6737136,2283656,2229.0,Monday,4453480
13,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-27,04:00:00,REGULAR,6737146,2283658,2229.0,Monday,4453488
14,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-27,08:00:00,REGULAR,6737169,2283736,2229.0,Monday,4453433
15,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-27,12:00:00,REGULAR,6737301,2283965,2229.0,Monday,4453336
16,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-27,16:00:00,REGULAR,6737553,2284025,2229.0,Monday,4453528
17,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-27,20:00:00,REGULAR,6738257,2284091,2229.0,Monday,4454166
18,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-28,00:00:00,REGULAR,6738430,2284121,2229.0,Tuesday,4454309
19,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-28,04:00:00,REGULAR,6738442,2284126,2229.0,Tuesday,4454316
20,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-28,08:00:00,REGULAR,6738474,2284216,2229.0,Tuesday,4454258
21,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-28,12:00:00,REGULAR,6738621,2284402,2229.0,Tuesday,4454219
22,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-28,16:00:00,REGULAR,6738886,2284425,2229.0,Tuesday,4454461
23,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-28,20:00:00,REGULAR,6739630,2284478,2229.0,Tuesday,4455152
24,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-29,00:00:00,REGULAR,6739804,2284508,2229.0,Wednesday,4455296
25,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-29,04:00:00,REGULAR,6739812,2284512,2229.0,Wednesday,4455300
26,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-29,08:00:00,REGULAR,6739847,2284600,2229.0,Wednesday,4455247
27,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-29,12:00:00,REGULAR,6739986,2284838,2229.0,Wednesday,4455148
28,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-29,16:00:00,REGULAR,6740257,2284896,2229.0,Wednesday,4455361
29,NQR456W,A002,R051,02-00-00,59 ST,BMT,2018-08-29,20:00:00,REGULAR,6740888,2284941,2229.0,Wednesday,4455947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197579,R,TRAM2,R469,00-05-00,RIT-ROOSEVELT,RIT,2018-08-31,09:00:00,REGULAR,2803,62,252.0,Friday,2741
197580,R,TRAM2,R469,00-05-00,RIT-ROOSEVELT,RIT,2018-08-31,13:00:00,REGULAR,2803,62,252.0,Friday,2741
197583,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-25,01:00:00,REGULAR,5554,348,252.0,Saturday,5206
197584,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-25,05:00:00,REGULAR,5554,348,252.0,Saturday,5206
197585,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-25,09:00:00,REGULAR,5554,348,252.0,Saturday,5206
197586,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-25,13:00:00,REGULAR,5554,348,252.0,Saturday,5206
197589,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-26,01:00:00,REGULAR,5554,348,252.0,Sunday,5206
197590,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-26,05:00:00,REGULAR,5554,348,252.0,Sunday,5206
197591,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-26,09:00:00,REGULAR,5554,348,252.0,Sunday,5206
197592,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-26,13:00:00,REGULAR,5554,348,252.0,Sunday,5206
197595,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-27,01:00:00,REGULAR,5554,348,252.0,Monday,5206
197596,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-27,05:00:00,REGULAR,5554,348,252.0,Monday,5206
197597,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-27,09:00:00,REGULAR,5554,348,252.0,Monday,5206
197598,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-27,13:00:00,REGULAR,5554,348,252.0,Monday,5206
197601,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-28,01:00:00,REGULAR,5554,348,252.0,Tuesday,5206
197602,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-28,05:00:00,REGULAR,5554,348,252.0,Tuesday,5206
197603,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-28,09:00:00,REGULAR,5554,348,252.0,Tuesday,5206
197604,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-28,13:00:00,REGULAR,5554,348,252.0,Tuesday,5206
197607,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-29,01:00:00,REGULAR,5554,348,252.0,Wednesday,5206
197608,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-29,05:00:00,REGULAR,5554,348,252.0,Wednesday,5206
197609,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-29,09:00:00,REGULAR,5554,348,252.0,Wednesday,5206
197610,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-29,13:00:00,REGULAR,5554,348,252.0,Wednesday,5206
197613,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-30,01:00:00,REGULAR,5554,348,252.0,Thursday,5206
197614,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-30,05:00:00,REGULAR,5554,348,252.0,Thursday,5206
197615,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-30,09:00:00,REGULAR,5554,348,252.0,Thursday,5206
197616,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-30,13:00:00,REGULAR,5554,348,252.0,Thursday,5206
197619,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-31,01:00:00,REGULAR,5554,348,252.0,Friday,5206
197620,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-31,05:00:00,REGULAR,5554,348,252.0,Friday,5206
197621,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-31,09:00:00,REGULAR,5554,348,252.0,Friday,5206
197622,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,2018-08-31,13:00:00,REGULAR,5554,348,252.0,Friday,5206

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [6]:
#Your code here
df.dow.value_counts?

# Drop a couple of columns

In [ ]:
# Your code here